<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}
  {% block content %}

<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>JobStrengths</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'static/vendor/bootstrap/css/bootstrap.min.css' %}" >

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'static/css/scrolling-nav.css' %}" >

  </head>

  <body id="page-top">
  
  
  

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Learn More</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="about.html">About</a>

          </ul>
        </div>
      </div>
    </nav>

    <header class="bg-primary text-white">
      <div class="container text-center">
        <h1>Welcome to JobStrengths</h1>
        <p class="lead">A simple application to find the correct strengthsquest strengths required in job descriptions.</p>
      </div>
    </header>

    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Details</h2>
            <p class="lead">JobStrengths is:</p>
            <ul>
              <li> Written solely in Python3 and implemented with Django</li>
              <li> Completely free and safe to use</li>
              <li> Everchanging and evolving with my current understanding of various technologies.</li>
            </ul>
            <p class="lead">My future plans with JobStrengths is to incorporate a thesaurus API to allow for a larger amount of 
            data processing to take place.</p>
          </div>
        </div>
      </div>
    </section>

    <section id="services" class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Services I offer</h2>
            <p class="lead">JobStrengths is a pet-project for me. It's used to add on to my personal professional portfolio while
            aslo allowing users of my application to increase their understanding of a job description in terms that they may not
            be familiar with.</p>
          </div>
        </div>
      </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Contact us</h2>
            <p class="lead">Aaron Lisle Williamson</p>
            <ul>
              <li>
                lisle@alislewilliamson.com
              </li>
              <li>
                (325)207-9045
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; JobStrengths</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="js/scrolling-nav.js"></script>
{% endblock %}
  </body>

</html>
